{% extends 'main/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p> Помогите, дайте секс! 
            В нижнем Новгороде нет ни одной девушки. 
            Я призываю любых девушек из других городов: приезжайте ко мне, я абсолютно надёжный и верный человек, я никогда вас не брошу и никого никогда не бросал. Вы дадите мне секс, этим вы вернёте мне жизнь, я смогу много зарабатывать на моем канале, сейчас канал уничтожен, ничего заработать на нем нельзя, рекламодателям нужен "нормальный" контент. 
            Дайте мне секс - и я переверну мир! 
            
            Я смотрю, девки живут в затопленных наводнением городах, деревнях - приезжай ко мне! На сексуальной энергии я сделаю ремонт в квартире, сможем прекрасно жить! Мне нужен секс! Секс абсолютно недоступен для меня. Я не могу ничего делать, не могу ни о чем думать без секса. 
            
            Спасите меня - дайте секс!</p>
        <button class="btn btn-warning"> На Киев</button>
    </div>
{% endblock %}