p, h1, h2, h3, table, ol {
    width: 90%; /* контейнер будет занимать 70% ширины страницы */
    margin: 0 auto; /* автоматическое выравнивание по центру горизонтально */
}

h1, h2, h3, th{
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
}

th, td {
    border: 1px solid black;
}

img {
    /* float: right;  */
    /* margin-left: 10px; Отступ справа для создания промежутка между изображением и текстом */
    width: 200px; /* задаем ширину изображения */
    height: auto; /* автоматически определяем высоту, чтобы сохранить пропорции */
}

figcaption {
    text-align: left; /* Выравнивание текста по центру */
    font-style: italic; /* Курсивное начертание */
  }

figure {
    float: right;
}

#Сэм {
    width: 70%; /* задаем ширину изображения */
    height: auto; /* автоматически определяем высоту, чтобы сохранить пропорции */
}

h1, h2, h3 {
    margin-top: 1.5em; /* Верхний отступ 1.5em */
    margin-bottom: 1em; /* Нижний отступ 1em */
}