header {
    width: 100%;
    height: auto;
  }
  header img {
    margin-top: 16px;
    margin-left: 200px;
    position: relative;
    width: auto;
    height: 35px;
  }
  header p {
    margin-top: 25px;
    margin-right: 150px;
    float: right;
    position: relative;
    font-size: 24px;
    margin-bottom: 0;
  }
  header a {
    color:black;
    text-decoration: none;
  }

