@font-face {
  font-family: 'Fifaks10dev1';
  src: url('../fonts/Fifaks10dev1.woff2') format('woff2'),
       url('../fonts/Fifaks10dev1.woff') format('woff'),
       url('../fonts/Fifaks10dev1.ttf') format('truetype'),
       url('../fonts/Fifaks10dev1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:is(body) {
  margin: 0;
  font-family: 'Fifaks10dev1', sans-serif;
}
div .lines {
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: #171921;
}


/* #elements {
  width: 300px;
  height: auto;
} */
